<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Internship Cancelled</title>
  <style>
    body {
      font-family: "Times New Roman", sans-serif;
      background-color: #fff0f0;
      text-align: center;
      padding: 100px;
      color: #a33;
    }
    .message-box {
      display: inline-block;
      padding: 2rem;
      border: 1px solid #faa;
      background-color: #fff;
      border-radius: 10px;
    }
  </style>
</head>
<body>
<div class="message-box">
  <h2>Your internship has been cancelled</h2>
  <p>Please contact the admin if any further clarification needed.</p>
</div>
</body>
</html>